.footer {
    padding: 7px;
    background-color: #f0f0f0;
    border-radius: 0 0 10px 10px;
    font-size: 0.9em;
    color: #5b5b5b;
}

.submitted-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .task-author,
    .submitted-date {
        text-align: center;
    }

    .task-author {
        margin-right: 10px;
    }
}