.header {
    padding: 20px 20px 0 20px;
    display: flex;
    align-items: center;

    .task-date {
        display: inline;
        font-weight: bold;
        text-align: center;
        font-size: 1.75em;
    
        i.far {
            margin-right: 10px;
        }
    }
    
    .status {
        margin-left: 15px;
        padding: 2px 7px;
        border-radius: 40px;
        display: inline;
        text-transform: uppercase; 
    
        &.pending {
            color: #6E4D00;
            background-color: #ffd15d; 
        }
        &.paid {
            color: #0b4100;
            background-color: #22c926;
        }
        &.submitted {
            color: #004d6c;
            background-color: #c0eeff; 
        }
    }
}