.recipients {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .task-recipient-number,
    .first-accepted {
        text-align: center;
    }

    .task-recipient-number {
        margin-right: 15px;
    }
}