.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;

    .skills-header {
        text-transform: uppercase;
        font-weight: bold;
    }

    i.fas {
        font-size: 1.6em;
    }

    .skill-list {
        margin-bottom: 0;
        padding: 10px 10px 10px 30px;
        background-color: #f0f0f0;
        border-radius: 5px;
    }
}