html {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0 0 20px 0;
  background-color: #f9f9f9;
  font-family: "Open Sans", sans-serif;
}

header {
  margin-bottom: 25px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #c0eeff;
}
header .logo img {
  margin-left: 25px;
  width: 60px;
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}
header nav ul li:not(:last-child) {
  margin-right: 15px;
}
header nav ul a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 1300px;
  margin: auto;
  display: grid;
  justify-items: center;
  align-items: start;
  grid-gap: 25px;
}

.task {
  max-width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: 1px 1px 3px 2px #d4d4d4;
  color: #333;
  line-height: 1.5;
  transition: box-shadow 0.3s;
}
.task:hover {
  box-shadow: 3px 3px 3px 2px dimgray;
}
.task .header {
  margin-bottom: 25px;
}
.task .skills,
.task .shift-time,
.task .workplace {
  margin-top: 25px;
  margin-bottom: 25px;
}
.task .recipients {
  margin: 5px 0;
}
.task .skills,
.task .shift-time,
.task .workplace,
.task .recipients {
  padding: 0 20px;
}
.task hr {
  margin: 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media only screen and (max-width: 600px) {
  .header {
    justify-content: center;
    flex-wrap: wrap;
  }
  .header .status {
    margin-top: 5px;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
@media only screen and (min-width: 600px) {
  .header {
    justify-content: space-between;
  }

  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

/*# sourceMappingURL=common.css.map */
