.footer {
  padding: 7px;
  background-color: #f0f0f0;
  border-radius: 0 0 10px 10px;
  font-size: 0.9em;
  color: #5b5b5b;
}

.submitted-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.submitted-info .task-author,
.submitted-info .submitted-date {
  text-align: center;
}
.submitted-info .task-author {
  margin-right: 10px;
}

/*# sourceMappingURL=footer.css.map */
