.header {
  padding: 20px 20px 0 20px;
  display: flex;
  align-items: center;
}
.header .task-date {
  display: inline;
  font-weight: bold;
  text-align: center;
  font-size: 1.75em;
}
.header .task-date i.far {
  margin-right: 10px;
}
.header .status {
  margin-left: 15px;
  padding: 2px 7px;
  border-radius: 40px;
  display: inline;
  text-transform: uppercase;
}
.header .status.pending {
  color: #6E4D00;
  background-color: #ffd15d;
}
.header .status.paid {
  color: #0b4100;
  background-color: #22c926;
}
.header .status.submitted {
  color: #004d6c;
  background-color: #c0eeff;
}

/*# sourceMappingURL=header.css.map */
