.recipients {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recipients .task-recipient-number,
.recipients .first-accepted {
  text-align: center;
}
.recipients .task-recipient-number {
  margin-right: 15px;
}

/*# sourceMappingURL=recipients.css.map */
