.shift-time,
.workplace {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.2em;
}
.shift-time i.far,
.workplace i.far {
  text-align: center;
  width: 31px;
  margin-right: 10px;
  font-size: 1.6em;
}

.shift-time {
  margin-bottom: 15px;
}

/*# sourceMappingURL=shift-workplace.css.map */
