.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}
.skills .skills-header {
  text-transform: uppercase;
  font-weight: bold;
}
.skills i.fas {
  font-size: 1.6em;
}
.skills .skill-list {
  margin-bottom: 0;
  padding: 10px 10px 10px 30px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

/*# sourceMappingURL=skills.css.map */
